In [49]:
# インポート
import sqlite3
import pandas as pd
import os

In [50]:
# ファイル内容取得
csv_filepath = "wine.csv"
df = pd.read_csv(csv_filepath, delimiter=",")

In [51]:
# ファイル内容確認1
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [52]:
# ファイル内容確認2
for index, row in df.iterrows():
    print(index)
    print('------')
    print(type(row))
    print(row)
    print('------')
    print(row[0], row['Wine'])
    print(row[1], row['Alcohol'])
    print(row[2], row['Malic.acid'])
    print('======\n')
    
    if index == 2:
        break

0
------
<class 'pandas.core.series.Series'>
Wine                       1.00
Alcohol                   14.23
Malic.acid                 1.71
Ash                        2.43
Acl                       15.60
Mg                       127.00
Phenols                    2.80
Flavanoids                 3.06
Nonflavanoid.phenols       0.28
Proanth                    2.29
Color.int                  5.64
Hue                        1.04
OD                         3.92
Proline                 1065.00
Name: 0, dtype: float64
------
1.0 1.0
14.23 14.23
1.71 1.71
======

1
------
<class 'pandas.core.series.Series'>
Wine                       1.00
Alcohol                   13.20
Malic.acid                 1.78
Ash                        2.14
Acl                       11.20
Mg                       100.00
Phenols                    2.65
Flavanoids                 2.76
Nonflavanoid.phenols       0.26
Proanth                    1.28
Color.int                  4.38
Hue                        1.05
OD                         3.40
Proline                 1050.00
Name: 1, dtype: float64
------
1.0 1.0
13.2 13.2
1.78 1.78
======

2
------
<class 'pandas.core.series.Series'>
Wine                       1.00
Alcohol                   13.16
Malic.acid                 2.36
Ash                        2.67
Acl                       18.60
Mg                       101.00
Phenols                    2.80
Flavanoids                 3.24
Nonflavanoid.phenols       0.30
Proanth                    2.81
Color.int                  5.68
Hue                        1.03
OD                         3.17
Proline                 1185.00
Name: 2, dtype: float64
------
1.0 1.0
13.16 13.16
2.36 2.36
======

In [53]:
# データベースに接続
sqlite_dirpath = "db"
# sqlite_filename = "test_0.sqlite"
sqlite_filename = "test_0.db"
sqlite_filepath = os.path.join(sqlite_dirpath, sqlite_filename)

os.makedirs(sqlite_dirpath, exist_ok=True)  # フォルダの作成
conn = sqlite3.connect(sqlite_filepath)  # ファイルがなければ生成されるが，フォルダは生成されないので注意

In [54]:
# テーブルを作成
table_name = "wine"

col1_name = "Wine"
col2_name = "Alcohol"
col3_name = "MalicAcid"

col1_type = "INTEGER"
col2_type = "FLOAT"
col3_type = "FLOAT"

cur = conn.cursor()  # カーソルの呼び出し

# テーブルの初期化
drop_sql = f"DROP TABLE IF EXISTS {table_name}"
create_sql = f"""CREATE TABLE {table_name}(
    id INTEGER PRIMARY KEY,
    {col1_name} {col1_type},
    {col2_name} {col2_type},
    {col3_name} {col3_type}
)"""

# SQLの実行
cur.execute(drop_sql)
cur.execute(create_sql)
# SQLの確定
conn.commit()

In [42]:
# データ挿入
for index, row in df.iterrows():
    cur.execute(
        f"INSERT INTO {table_name} (id, {col1_name}, {col2_name}, {col3_name}) VALUES (?, ?, ?, ?)",
        (index, row['Wine'], row['Alcohol'], row['Malic.acid'])
    )
    conn.commit()
    
    if index == 2:
        break

In [44]:
# 中身の確認
select_sql = f"SELECT id, {col1_name}, {col2_name}, {col3_name} FROM {table_name}"
cur.execute(select_sql)

wine_data = cur.fetchall()
wine_data

[(0, 1, 14.23, 1.71), (1, 1, 13.2, 1.78), (2, 1, 13.16, 2.36)]

In [45]:
conn

In [55]:
# データベースに接続
df.to_sql("wine2", con=conn, if_exists='replace', index=True)

178

In [56]:
select_sql = "SELECT Alcohol FROM wine2"
cur.execute(select_sql)

wine_data = cur.fetchall()
wine_data

[(14.23,),
 (13.2,),
 (13.16,),
 (14.37,),
 (13.24,),
 (14.2,),
 (14.39,),
 (14.06,),
 (14.83,),
 (13.86,),
 (14.1,),
 (14.12,),
 (13.75,),
 (14.75,),
 (14.38,),
 (13.63,),
 (14.3,),
 (13.83,),
 (14.19,),
 (13.64,),
 (14.06,),
 (12.93,),
 (13.71,),
 (12.85,),
 (13.5,),
 (13.05,),
 (13.39,),
 (13.3,),
 (13.87,),
 (14.02,),
 (13.73,),
 (13.58,),
 (13.68,),
 (13.76,),
 (13.51,),
 (13.48,),
 (13.28,),
 (13.05,),
 (13.07,),
 (14.22,),
 (13.56,),
 (13.41,),
 (13.88,),
 (13.24,),
 (13.05,),
 (14.21,),
 (14.38,),
 (13.9,),
 (14.1,),
 (13.94,),
 (13.05,),
 (13.83,),
 (13.82,),
 (13.77,),
 (13.74,),
 (13.56,),
 (14.22,),
 (13.29,),
 (13.72,),
 (12.37,),
 (12.33,),
 (12.64,),
 (13.67,),
 (12.37,),
 (12.17,),
 (12.37,),
 (13.11,),
 (12.37,),
 (13.34,),
 (12.21,),
 (12.29,),
 (13.86,),
 (13.49,),
 (12.99,),
 (11.96,),
 (11.66,),
 (13.03,),
 (11.84,),
 (12.33,),
 (12.7,),
 (12.0,),
 (12.72,),
 (12.08,),
 (13.05,),
 (11.84,),
 (12.67,),
 (12.16,),
 (11.65,),
 (11.64,),
 (12.08,),
 (12.08,),
 (12.0,),
 (12.69,),
 (12.29,),
 (11.62,),
 (12.47,),
 (11.81,),
 (12.29,),
 (12.37,),
 (12.29,),
 (12.08,),
 (12.6,),
 (12.34,),
 (11.82,),
 (12.51,),
 (12.42,),
 (12.25,),
 (12.72,),
 (12.22,),
 (11.61,),
 (11.46,),
 (12.52,),
 (11.76,),
 (11.41,),
 (12.08,),
 (11.03,),
 (11.82,),
 (12.42,),
 (12.77,),
 (12.0,),
 (11.45,),
 (11.56,),
 (12.42,),
 (13.05,),
 (11.87,),
 (12.07,),
 (12.43,),
 (11.79,),
 (12.37,),
 (12.04,),
 (12.86,),
 (12.88,),
 (12.81,),
 (12.7,),
 (12.51,),
 (12.6,),
 (12.25,),
 (12.53,),
 (13.49,),
 (12.84,),
 (12.93,),
 (13.36,),
 (13.52,),
 (13.62,),
 (12.25,),
 (13.16,),
 (13.88,),
 (12.87,),
 (13.32,),
 (13.08,),
 (13.5,),
 (12.79,),
 (13.11,),
 (13.23,),
 (12.58,),
 (13.17,),
 (13.84,),
 (12.45,),
 (14.34,),
 (13.48,),
 (12.36,),
 (13.69,),
 (12.85,),
 (12.96,),
 (13.78,),
 (13.73,),
 (13.45,),
 (12.82,),
 (13.58,),
 (13.4,),
 (12.2,),
 (12.77,),
 (14.16,),
 (13.71,),
 (13.4,),
 (13.27,),
 (13.17,),
 (14.13,)]